# Generate with:
# kubeseal --format yaml --cert k8s/prd-pub.pem < \
#   k8s/apps/bot-discord/bot/overlays/prd/secret.yaml > \
#   k8s/apps/bot-discord/bot/overlays/prd/sealedsecret.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: bot-discord-app-config
  namespace: bot-discord
type: Opaque
stringData:
  DISCORD_TOKEN: seu_token_aqui
  DISCORD_CLIENT_ID: ""
  DISCORD_GUILD_ID: ""
  LAVALINK_PASSWORD: troque-esta-senha
  YOUTUBE_OAUTH_REFRESH_TOKEN: cole-o-refresh-token-do-lavalink-aqui
  DEEZER_ARL: cole-o-cookie-arl-do-deezer-aqui
